<a href="/forum/list">all forums</a>

<%= partial 'shared/page_nav', :object => {:count=>@responses+1, :url=>@url, :page => @page} %>

<% for @item in @posts %>

<div class="msg-hdr" data-get-automod-url="/rs/message/<%= @item.mid %>/automod" data-msg-id="<%= @item.mid %>">
	<div class="subj">
		<span class="subj-text">
		<%= @item.title %>
		</span>
	</div>
	
</div>

<table width="100%" border="0" cellspacing="0">
	<tbody>
		<tr>
			
			<td class="ii hdr-label">От:</td>
			<td class="i nick-cell">
				<a class="hdr profile-tip" title="dimacpp" target="_blank" href="/account/info/116678" rel="/account/shortinfo/116678">
					<%= @item.addedby %>
				</a>
				
			</td>
			<td class="i home-page" rowspan="2">&nbsp;</td>
		</tr>
		<tr>
			<td class="ii" nowrap=""><font size="2"><b>Дата:&nbsp;</b></font></td>
			<td class="i" width="100%"><font size="2"><%= @item.addedat.strftime("%F %k:%M ") %></font></td>
		</tr>
	</tbody>
</table>



<%= @item.text.gsub('http://www.rsdn.ru/forum','').html_safe %>
<% end %>